<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="kr.hs.emirim.shookhee.quizlocker">

    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".PopupCollectionActivity"
                android:theme="@style/popupTheme" />
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".CollectionInfoAcivity" />
        <activity android:name=".CollectionActivity" /> <!-- <activity android:name=".BackgroundActivity" /> -->
        <activity
                android:name=".PopupWhipeActivity"
                android:screenOrientation="portrait"
                android:theme="@style/popupTheme" />
        <activity
                android:name=".PopupActivity"
                android:screenOrientation="portrait"
                android:theme="@style/popupTheme" />
        <activity
                android:name=".LoadingActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".QuizLockerActivity" />

        <service
                android:name=".LockScreenService"
                android:enabled="true"
                android:exported="true" />

        <activity android:name=".ScreenOffExActivity" />
        <activity android:name=".PrefFragmentActivity" />
        <activity android:name=".PrefExActivity" />
        <activity android:name=".FileExActivity" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ChatActivity"></activity>

        <receiver
                android:name=".BootCompleteReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>