<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="kr.hs.emirim.shookhee.quizlocker">

    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ChatActivity"></activity>
        <activity android:name=".ChatRoomActivity">

        </activity>
        <activity android:name=".RankingActivity" />
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity
                android:name=".QuizFalsePopupActivity"
                android:screenOrientation="portrait"
                android:theme="@style/popupTheme" />
        <activity android:name=".CollectionDetailActivity" />
        <activity
                android:name=".CollectionPopupActivity"
                android:screenOrientation="portrait"
                android:theme="@style/popupTheme" />
        <activity android:name=".CollectionActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FileExActivity" />
        <activity android:name=".PrefExActivity" />
        <activity android:name=".PrefFragmentActivity" /> <!-- 암시적 인텐트로 실행되는 브로드캐스트 리시버 등록 -->
        <activity android:name=".ScreenOffExActivity" />
        <activity android:name=".QuizLockerActivity" />

        <receiver
                android:name=".BootCompleteReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
                android:name=".LockScreenService"
                android:enabled="true"
                android:exported="true" />
    </application>

</manifest>